
<h1>Activity List</h1>

<nb-list>
    <nb-list-item *ngFor="let activity of activityList">
        <a [routerLink]="['/activity',activity.activityId]">
            <nb-card>
                <nb-card-header>
                    {{activity.activityName}}                        
                </nb-card-header>
                <nb-card-body>
                    <img src="{{activity.activityImage}}">
                </nb-card-body>
                <nb-card-footer>
                    {{activity.activityDateTime | date:'yyyy-mm-dd' }}                        
                </nb-card-footer>
            </nb-card>
        </a>
    </nb-list-item>
</nb-list>