<nb-layout>
  <nb-layout-header fixed>
    <div class="col">
      <h4 class="row"><a href="/">{{title}}</a></h4>
    </div>
    <nb-actions size="medium" class="ml-auto">
      <nb-action icon="plus-outline" link="/activity/new" status="success" class="ml-auto" title="Create an Activity"></nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>&copy;2021 - Anthony Nicholls</nb-layout-footer>
</nb-layout>